.center-box {
    background-color: navy;
    margin: 10px 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.center-item {
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: tan;
}

img {
    height: 50px;
}

#header {
    background-color: slategray;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
}